@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Global styles */
.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.grid-5col {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
}

.grid-6col {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
}

.grid-7col {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
}

.grid-8col {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 10px;
}

.grid-9col {
  display: grid;
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: 10px;
}

.grid-10col {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 10px;
}

.grid-11col {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  gap: 10px;
}

.grid-12col {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

input.clear-input {
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  --color-shadow-primary: none;
}

input.clear-input:focus {
  outline: none;
}

.window-app {
  font-family: "Lora", serif;
}

.window-content input[type=number] {
  max-width: 35px;
}
.window-content input[type=text] {
  width: auto;
}

.bitd.sheet.actor {
  min-width: 550px;
  min-height: 500px;
}

.bitd.sheet.item {
  min-width: 450px;
  min-height: 400px;
}

/* Styles limited to system sheets */
.bitd {
  font-family: "Lora", serif;
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
}
.bitd .brief-info {
  font-size: medium;
}
.bitd .brief-info .prop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.bitd .brief-info .prop .prop-label {
  flex: 0 0 auto;
  margin-right: 3px;
}
.bitd .brief-info .prop .prop-input {
  flex: 1;
  text-transform: lowercase;
}
.bitd .attribute-block {
  font-family: "Spectral SC", serif;
}
.bitd .sheet-tabs {
  font-family: "Spectral SC", serif;
  font-size: medium;
}
.bitd .sheet-tabs .item.active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
.bitd .detail-window .detail-trigger {
  cursor: pointer;
}
.bitd .detail-window .detail-block {
  display: none;
}
.bitd .detail-window .detail-block.active {
  display: block;
}
.bitd .window-content {
  background: url("../ui/white-parchment.jpg") repeat;
}
.bitd h1, .bitd h2, .bitd h3 {
  font-family: "Spectral SC", serif;
}
.bitd .rollable:hover, .bitd .rollable:focus {
  color: black;
  cursor: pointer;
}
.bitd .value-step-block {
  display: inline-block;
}
.bitd .value-step-block .value-step {
  display: inline-block;
  cursor: pointer;
}
.bitd .value-step-block .value-dot {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
}
.bitd .value-step-block .value-dot.active {
  background: black;
}
.bitd .value-step-block .value-tooth {
  height: 30px;
  width: 10px;
  background-image: url("../assets/tooth/tooth-white.svg");
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}
.bitd .value-step-block .value-tooth.active {
  background-image: url("../assets/tooth/tooth-black.svg");
}
.bitd .value-step-block .value-box {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  border-radius: 0;
  background: white;
}
.bitd .value-step-block .value-box.active {
  background: black;
}
.bitd .tox {
  min-height: 300px;
}
.bitd .editor {
  min-height: 75px;
  height: 150px;
  padding: 0 5px;
  border: 1px solid #b5b3a4;
}
.bitd .items-block {
  position: relative;
}
.bitd .items-block .item-create {
  position: absolute;
  top: 3px;
  right: 0;
}
.bitd .items-block .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bitd .items-block .items-list .item {
  position: relative;
  align-items: center;
  margin-bottom: 5px;
}
.bitd .items-block .items-list .item .item-description {
  padding-right: 55px;
}
.bitd .items-block .items-list .item .item-description .item-name {
  font-weight: bold;
}
.bitd .items-block .items-list .item .item-description .item-name::after {
  content: ",";
  font-weight: normal;
}
.bitd .items-block .items-list .item .item-controls {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.bitd .items-block .items-list .item .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 3px;
}

.bitd.actor .sheet-header .img-block {
  font-family: "Spectral SC", serif;
}
.bitd.actor .sheet-header .img-block .money input {
  margin-left: 3px;
  padding: 0;
  min-width: 10px;
  max-width: 15px;
}
.bitd.actor .sheet-header .img-block .money .coins > input {
  max-width: 10px;
}
.bitd.actor .sheet-header .img-block .load select {
  width: 100%;
}
.bitd.actor .sheet-header .img-block .load span {
  display: block;
  width: 100%;
  text-align: center;
}
.bitd.actor .sheet-body .items-block {
  position: relative;
}
.bitd.actor .sheet-body .items-block .item-add {
  position: absolute;
  top: 0;
  right: 0;
}
.bitd.actor .sheet-body .editor {
  min-height: 75px;
  height: 250px;
  padding: 0 5px;
  border: 1px solid #b5b3a4;
}
.bitd.actor .tox .tox-editor-container {
  background: white;
}
.bitd.actor .tox .tox-edit-area {
  padding: 0 5px;
}
.bitd.actor .character .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 10px;
  margin-bottom: 10px;
}
.bitd.actor .character .sheet-header .img-block {
  position: relative;
  padding-right: 10px;
}
.bitd.actor .character .sheet-header .img-block .profile-img {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
  border: none;
}
.bitd.actor .character .sheet-header .img-block .money {
  position: relative;
}
.bitd.actor .character .sheet-header .img-block .money .money-icon img {
  border: none;
  width: 30px;
  height: 30px;
}
.bitd.actor .character .sheet-header .img-block .money .money-numbers {
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 30px;
}
.bitd.actor .character .sheet-header .img-block .money .money-block {
  position: absolute;
  z-index: 100;
  width: 185px;
  padding: 5px;
  background: url("../ui/white-parchment.jpg") repeat;
  border: 1px solid #b5b3a4;
}
.bitd.actor .character .sheet-header .header-fields {
  font-family: "Spectral SC", serif;
}
.bitd.actor .character .sheet-header .header-fields .name-alias input {
  flex: 1;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
}
.bitd.actor .character .sheet-header .header-fields .name-alias .character-alias {
  margin: 0;
  border-bottom: none;
}
.bitd.actor .character .sheet-header .header-fields .brief-info {
  gap: 0;
}
.bitd.actor .character .sheet-header .header-fields .stress-trauma {
  font-size: medium;
}
.bitd.actor .character .sheet-header .header-fields .stress-trauma .stress {
  flex: inherit;
  margin-right: 10px;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block {
  font-size: medium;
  grid-gap: 10px;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block .attribute {
  position: relative;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block .attribute .exp-block {
  position: absolute;
  right: 0;
  top: 0;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block .attribute .value-dot {
  position: relative;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block .attribute .value-dot:first-child {
  margin-right: 3px;
}
.bitd.actor .character .sheet-header .header-fields .attribute-block .attribute .value-dot:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 18px;
  background-color: #555;
}
.bitd.actor .character .sheet-header .contacts {
  align-self: start;
}
.bitd.actor .character .sheet-header .armor-harm .armor {
  font-weight: bold;
}
.bitd.actor .character .sheet-header .armor-harm .armor .armor-uses {
  margin-bottom: 3px;
  text-align: center;
}
.bitd.actor .character .sheet-header .armor-harm .armor .armor-uses input {
  position: relative;
  top: 5px;
  margin: 0;
}
.bitd.actor .character .sheet-body .playbook {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 10px;
}

.bitd.item .items-header {
  flex: 100px auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.bitd.item .items-header .item-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  border: none;
}
.bitd.item .items-header .header-fields {
  flex: 1;
}
.bitd.item .items-header .header-fields .item-name {
  height: 35px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  font-family: "Spectral SC", serif;
  font-weight: 700;
}
.bitd.item .items-header .header-fields .item-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.bitd.item .items-header .header-fields .exp-clues input {
  width: 100%;
}
.bitd.item .sheet-body .linked-items {
  margin-bottom: 10px;
}
.bitd.item .sheet-body .formula {
  margin-top: 5px;
  width: 100%;
}
.bitd.item .sheet-body .editor-block {
  flex: auto;
}
.bitd.item .sheet-body .editor-block .editor {
  min-height: 200px;
}

/*# sourceMappingURL=bitd.css.map */
