@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$light-black: #222;
$light-grey: #ccc;
$grey: #999;
$light-white: #eee;
$shadow: 0 0 8px red;
$border: 1px solid #b5b3a4;
$border-black: 1px solid #222;
$border-hard: 2px solid black;

$background-paper: url("../ui/white-parchment.jpg") repeat;
$dark-paper: rgba(0, 0, 0, 0.1);

$font-primary: 'Lora', serif;
$font-secondary: "Spectral SC", serif;


