<div class="stress-trauma">
  <div class="stress bitd-header">
    <a class="item-control add-trauma"><i class="fa-solid fa-plus"></i></a>
    <h3 class="stress-title rollable" data-roll-type="vice">{{localize 'BITD.Scoundrel.Stress'}}</h3>
  </div>

  <div class="value-step-block" data-value="{{system.stress.value}}" data-key="system.stress.value">
    {{#numLoop system.stress.max}}
      <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
    {{/numLoop}}
  </div>

  <div class="trauma-list">
    {{#each system.trauma}}
      <span class="trauma">{{localize this}}</span>
    {{/each}}
  </div>
</div>
