.portrait {
  flex: none;
  border-width: 0;
  margin-right: 5px;
}

.add-trauma-form {
  margin-bottom: 5px;
  font-size: medium;
  font-family: $font-secondary;
  text-align: center;

  .trauma {
    display: block;
  }

  .trauma.active {
    text-shadow: $shadow;
  }
}

.edit-hunting-form {
  .custom-name.clear-input {
    border-bottom: $border-black;
  }

  label {
    font-weight: bold;
  }
}

.bitd-roll-dialog {
  height: auto;

  .window-content {
    overflow: visible;
  }

  .roll-dice-form {
    font-family: $font-secondary;

    .roll-type {
      margin-bottom: 5px;
      font-size: medium;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      #roll-type {
        font-weight: bold;
      }
    }

    .roll-dice {
      gap: 0;

      input {
        border: none;
        background: none;
      }
    }

    .push-or-devil {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .position-and-effect {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .useful-info {
      font-family: $font-primary;
    }

    h4 {
      width: 100%;
      margin: 0.5rem 0 0 0;
      text-align: center;
      font-weight: bold;
    }

    .checkbox-label {
      position: relative;
      top: -5px;
    }

    .optional:not(.active) {
      display: none;
    }
  }
}

.roll-message {
  .roll-header {
    margin-bottom: 10px;

    .roll-name {
      margin: 0;
      padding: 3px 5px 0 5px;
    }

    .roll-subheader {
      padding: 3px 5px 0 5px;
      font-weight: bold;

      h4 {
        display: inline;
        font-weight: bold;
      }
    }
  }

  .roll-results {
    h4 {
      text-transform: uppercase;
      font-family:$font-secondary;
      font-size: medium;
      font-weight: bold;
    }

    h5 {
      margin: 10px 0 0 0;
      text-transform: uppercase;
      font-family:$font-secondary;
      font-weight: bold;
    }
  }

  .roll-dice {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    overflow: hidden;

    .dice {
      min-width: 30px;
      line-height: 30px;
      float: left;
      margin-right: 1px;
      background-image: url(/icons/svg/d6-grey.svg);
      background-repeat: no-repeat;
      background-size: 30px 30px;
      color: $light-black;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
  }
}
