input.clear-input {
  border-width: 0;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  --color-shadow-primary: none;
}

input.clear-input:focus {
  outline: none;
}

.window-app {
  font-family: $font-primary;
}

.window-content {
  input[type="number"] {
    max-width: 35px;
  }

  input[type="text"] {
    width: auto;
  }
}

.bitd.sheet.actor {
  min-width: 550px;
  min-height: 500px;
}
