.clock {
  .sheet-header {
    display: block;

    .clock-name {
      border: none;
      text-align: center;
    }

    .clock-img-block {
      margin: 0 auto;
      width: 90%;

      .clock-img {
        border: none;
        width: 100%;
        height: auto;
      }
    }

    .clock-info {
      font-family: $font-secondary;
      text-align: center;

      .clear-input {
        max-width: 20px;
      }
    }
  }
}
