.crew {
  .sheet-header {
    row-gap: 5px;

    .type-container {
      display: grid;
      column-gap: $padding-md;
      grid-template-columns: 60px 1fr;
      height: -webkit-fill-available;

      .profile-img {
        width: 100%;
        border: none;
      }

      .crew-type {
        font-family: $font-secondary;

        .playbook-description {
          margin: 0;
          font-size: medium;
        }
      }
    }

    .name-container {
      .crew-name {
        margin: 0;

        input {
          height: 90%;
          margin: 0;
          padding: 0;
        }
      }

      .brief-info {
        row-gap: 0;

        .prop {
          display: block;
          font-family: $font-secondary;

          .prop-label {
            display: block;
            font-size: medium;
          }

          .prop-input {
            padding: 0;
            font-size: small;
          }
        }
      }
    }

    .hunting-ground {
      .clear-input {
        padding: 0;
      }

      .operation-header {
        font-family: $font-secondary;
      }
    }

    .header-fields {
      display: grid;
      column-gap: $padding-md;
      row-gap: $padding-sm;
      grid-template-columns: auto 1fr;
      font-family: $font-secondary;

      .heat-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-top: $border-hard;

        .wanted-lvl {
          font-size: small;
        }

        .flexrow {
          align-items: flex-start;
        }
      }

      .tier-block {
        .hold {
          .clear-select {
            padding: 0;
          }
        }
      }

      .reputation-block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-top: $border-hard;

        .turf > h3, .bitd-header, .value-step-block {
          display: inline-block;
        }

        .reputation {
          display: flex;
          align-items: flex-start;
        }

        .turf {
          input {
            max-width: 20px;
            padding: 0;
          }
        }
      }
    }

    .header-fields>div {
      background: $dark-paper;
    }

    .exp-block {
      position: relative;

      .value-step-block {
        position: absolute;
        top: 0;
        right: $padding-sm;
      }

      .bitd-subheader, .exp-tips {
        font-size: small;
      }
    }

    h3.bitd-header {
      padding-top: 0;
    }
  }

  .sheet-header>div {
    height: 100%;
  }

  .sheet-body {
    .general-container {
      grid-template-areas:
      "1 main"
      "2 main";

      .spec-upgrades {
        grid-area: 1;
      }

      .upgrades {
        grid-area: 2;
      }

      .abilities {
        grid-area: main;
      }

      .cohorts {
        .item-name {
          font-weight: bold;
        }

        .specialisation {
          text-transform: lowercase;
        }

        .condition {
          font-style: italic;
        }
      }
    }

    .claims-map {
      .claim {
        height: 140px;
      }
    }

    .crew-notes {
      .goals {
        grid-column: 1 / 3;

        .items-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .clock-img {
            width: 50px;
            height: 50px;
            border: none;
          }

          .link-controls {
            font-size: smaller;
          }
        }
      }
    }
  }
}
