input.all-width {
  width: 100%;
}

.actor-grid {
  display: grid;
  column-gap: $padding-md;
  grid-template-columns: 220px 1fr;
}

.sheet-header {
  .money, .storage {
    input {
      margin-left: 3px;
      padding: 0;
      min-width: 10px;
      max-width: 15px;
    }

    .coins > input {
      max-width: 10px;
    }
  }
}

.sheet-body {
  .items-block {
    position: relative;

    .item-add {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
