.sheet-header {
  .money, .storage {
    input {
      margin-left: 3px;
      padding: 0;
      min-width: 10px;
      max-width: 15px;
    }

    .coins > input {
      max-width: 10px;
    }
  }
}

.sheet-body {
  .items-block {
    position: relative;

    .item-add {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .editor {
    min-height: 75px;
    height: 250px;
    padding: 0 $padding-sm;
    border: $border;
  }
}

.tox {
  .tox-editor-container {
    background: white;
  }

  .tox-edit-area {
    padding: 0 $padding-sm;
  }
}
