.character, .crew {
  .actor-grid {
    display: grid;
    column-gap: $padding-md;
    grid-template-columns: 220px 1fr;
  }

  .sheet-body {
    .abilities,.upgrades {
      .item-header {
        display: flex;

        .item-create {
          position: static;
          margin: 0 3px;
        }
      }

      .items-list {
        .item-checkbox {
          position: relative;
          top: 4px;
          width: 15px;
          margin: 0;
        }

        .item-name {
          font-family: $font-secondary;
          cursor: pointer;
        }
      }
    }
    .item.active {
      .item-name {
        font-weight: bold;
      }
    }
  }
}

.sheet-header {
  .money, .storage {
    input {
      margin-left: 3px;
      padding: 0;
      min-width: 10px;
      max-width: 15px;
    }

    .coins > input {
      max-width: 10px;
    }
  }
}

.sheet-body {
  .items-block {
    position: relative;

    .item-add {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .editor {
    height: 250px;
  }
}
