.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: $padding-md;

  .img-block {
    flex: 0 0 230px;
    position: relative;
    padding-right: $padding-md;

    .profile-img {
      height: 100%;
      width: 100%;
      border: none;
    }
  }

  .header-fields {
    flex: 1;

    .name-alias {
      input {
        flex: 1;
        text-decoration-line: underline;
        margin: 0;
        padding: 0;
      }

      .character-alias {
        margin: 0;
        border-bottom: none;
      }
    }

    .brief-info {
      gap: 0;
      font-size: medium;

      .prop {
        align-items: center;

        .prop-label {
          flex: 0 0 auto;
          margin-right: 3px;
        }

        .prop-input {
          flex: 1;
          text-transform: lowercase;
        }
      }
    }
  }
}

.sheet-body {
  .items-block {
    position: relative;

    .item-add {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .grid {
    gap: 10px;
  }

  .editor {
    min-height: 75px;
    height: 250px;
    padding: 0 $padding-sm;
    border: $border;
  }
}

.tox {
  .tox-editor-container {
    background: #fff;
  }

  .tox-edit-area {
    padding: 0 $padding-sm;
  }
}
