.brief-info {
  font-size: medium;

  .prop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .prop-label {
      flex: 0 0 auto;
      margin-right: 3px;
    }

    .prop-input {
      flex: 1;
      text-transform: lowercase;
    }

    .all-row {
      flex: 100%;
      padding: 0;
    }
  }
}

.attribute-block {
  font-family: $font-secondary;
}

.sheet-tabs {
  font-family: $font-secondary;
  font-size: medium;

  .item.active {
    background: $dark-paper;
    text-shadow: none;
  }
}

.detail-window {
  .detail-trigger {
    cursor: pointer;
  }

  .detail-block {
    display: none;
  }

  .detail-block.active {
    display: block;
  }
}

.window-content {
  background: $background-paper;
}

h1,h2,h3 {
  font-family: $font-secondary;
}

.rollable {
  &:hover,
  &:focus {
    color: black;
    cursor: pointer;
  }
}

.bitd-header.rollable {
  &:hover,
  &:focus {
    color: white;
  }
}

.value-step-block {
  display: inline-block;

  .value-step {
    display: inline-block;
    cursor: pointer;
  }

  .value-dot {
    height: 14px;
    width: 14px;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
  }

  .value-dot.active {
    background: black;
  }

  .value-tooth {
    height: 40px;
    width: 14px;
    background-image: url("../assets/tooth/tooth-black-white.svg");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .value-tooth.active {
    background-image: url("../assets/tooth/tooth-black.svg");
  }

  .red-tooth.active {
    background-image: url("../assets/tooth/tooth-black-red.svg");
  }

  .simple-tooth, .simple-red-tooth {
    height: 30px;
    width: 9px;
    background-image: url("../assets/tooth/tooth-white.svg");
    background-size: 9px;
  }

  .simple-tooth.active {
    background-image: url("../assets/tooth/tooth-black.svg");
  }

  .simple-red-tooth.active {
    background-image: url("../assets/tooth/tooth-red.svg");
  }

  .value-box {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 0;
    background: white;
  }

  .value-box.active {
    background: black;
  }
}

.tox {
  min-height: 300px;
}

.editor {
  min-height: 75px;
  height: 150px;
  padding: 0 $padding-sm;
  border: $border;
}
