.brief-info {
  font-size: medium;

  .prop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .prop-label {
      flex: 0 0 auto;
      margin-right: 3px;
    }

    .prop-input {
      flex: 1;
      text-transform: lowercase;
    }

    .all-row {
      flex: 100%;
      padding: 0;
    }
  }
}

.detail-window {
  .detail-trigger {
    cursor: pointer;
  }

  .detail-block:not(.active) {
    display: none;
  }
}

.rollable {
  &:hover,
  &:focus {
    color: black;
    cursor: pointer;
  }
}

.bitd-header.rollable {
  &:hover,
  &:focus {
    color: white;
  }
}

.tier-styled {
  counter-increment: my-awesome-counter 0;
  counter-reset: my-awesome-counter var(--tier);
}

.tier-styled:before {
  content: counter(my-awesome-counter, upper-roman);
  margin-right: 5px;
}

.value-step-block {
  display: inline-block;

  .value-step {
    display: inline-block;
    cursor: pointer;
  }

  .value-dot {
    height: 14px;
    width: 14px;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
  }

  .value-dot.active {
    background: black;
  }

  .value-tooth {
    height: 40px;
    width: 14px;
    background-image: url("../assets/tooth/tooth-black-white.svg");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .value-tooth.active {
    background-image: url("../assets/tooth/tooth-black.svg");
  }

  .red-tooth.active {
    background-image: url("../assets/tooth/tooth-black-red.svg");
  }

  .simple-tooth, .simple-red-tooth {
    height: 30px;
    width: 9px;
    background-image: url("../assets/tooth/tooth-white.svg");
    background-size: 9px;
  }

  .simple-tooth.active {
    background-image: url("../assets/tooth/tooth-black.svg");
  }

  .simple-red-tooth.active {
    background-image: url("../assets/tooth/tooth-red.svg");
  }

  .small-tooth {
    height: 20px;
    background-image: url("../assets/tooth/tooth-small-grey.svg");
  }

  .small-tooth.active {
    background-image: url("../assets/tooth/tooth-small-black.svg");
  }

  .value-box {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 0;
    background: white;
  }

  .value-box.active {
    background: black;
  }
}

h1,h2,h3 {
  font-family: $font-secondary;
}

textarea {
  resize: vertical;
}

.sheet-tabs {
  font-family: $font-secondary;
  font-size: medium;

  .item.active {
    background: $dark-paper;
    text-shadow: none;
  }
}

.window-content {
  background: $background-paper;
}

.tox {
  min-height: 300px;

  .tox-editor-container {
    background: white;
  }

  .tox-edit-area {
    padding: 0 $padding-sm;
  }
}

.editor {
  min-height: 200px;
  padding: 0 $padding-sm;
  border: $border;
}

.claims-map {
  display: grid;
  gap: $padding-md;

  .claim {
    position: relative;
    display: grid;
    align-items: center;
    background: $dark-paper;
    text-align: center;

    .name {
      font-family: $font-secondary;
      font-size: medium;
      font-weight: bold;
    }

    .item-summary {
      padding: 15px 3px 0 3px;
      overflow: hidden;
      height: 140px;

      .name {
        font-size: small;
      }

      p {
        margin: 0;
      }
    }

    .item-controls {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: flex-end;
      font-size: smaller;

      .item-checkbox, .claim-checkbox {
        margin: 0;
        height: 12px;
        width: 10px;
      }

      .item-control {
        margin-right: 3px;
      }
    }

    .claim-move {
      position: absolute;
      font-size: large;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }

    .move-left {
      left: -3px;
    }

    .move-up {
      top: -7px;
      left: 47%;
    }

    .move-right {
      right: -3px;
    }

    .move-down {
      bottom: -7px;
      left: 47%;
    }
  }

  .claim:first-child {
    .move-left,.move-up {
      display: none;
    }
  }

  .claim:last-child {
    .move-right,.move-down {
      display: none;
    }
  }

  .claim:hover {
    .claim-move {
      opacity: 1;
    }
  }

  .claim.active {
    background: rgba(0, 0, 0, 0.3);
  }
}
