
/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-block {
  position: relative;

  .item-create {
    position: absolute;
    top: 3px;
    right: 0;
  }

  .items-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      position: relative;
      align-items: center;
      margin-bottom: 5px;

      // .item-name {
      //   flex: 2;
      //   margin: 0;
      //   overflow: hidden;
      //   height: 30px;
      //   padding: 6px 0;
      //   cursor: pointer;
      // }

      // .item-name:hover {
      //   text-shadow: 0 0 8px red;
      // }
      //
      .item-summary {
        flex: auto;
        margin: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;

        p {
          margin: 0.5em;
        }
      }

      .item-description {
        padding-right: 55px;

        .item-name {
          font-weight: bold;
        }
      }

      .item-controls {
        position: absolute;
        top: 4px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        a {
          font-size: 12px;
          text-align: center;
          margin: 0 3px;
        }
      }
    }
  }
}
