.item-form {
  font-family: $font-primary;
}

// Section Header
.items-header {
  flex: 100px auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .item-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    border: none;
  }

  h1.item-name {
    flex: 1;
    height: 35px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    font-family: $font-secondary;
    font-weight: 700;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-body {
  .formula {
    margin-top: 5px;
    width: 100%;
  }

  .editor-block {
    flex: auto;

    .editor {
      min-height: 200px;
    }
  }
}
