input.all-width {
  width: 100%;
}

.cohort {
  .specialisation {
    display: flex;
    flex-direction: row;
    width: 100%;

    .prop-input {
      margin-left: 5px;
      border-bottom: $border;
      width: 100%;
    }
  }
}

.brief-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $font-secondary;
}

.items-header {
  display: flex;
  flex: 100px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  overflow: hidden;

  .item-img {
    flex: 0 0 100px;
    margin-right: 10px;
    border: none;
    height: 100px;
  }

  .header-fields {
    flex: 1;

    .item-name {
      margin: 5px 0;
      border-bottom: 0;
      padding: 0px;
      height: 35px;
      font-weight: 700;
      font-family: $font-secondary;
      input {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .brief-info {
      margin-top: 10px;
    }
  }
}

.sheet-body {
  .editor-block {
    flex: auto;
  }
}

.playbook,
.crewType {
  .summary {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .linked-items {
    margin-bottom: 10px;

    .link-block {
      line-height: 1.5;
    }
  }
}

.playbook {
  .attribute-block {
    font-family: $font-secondary;
  }
}

.crewType {
  .claims-map {
    .claim {
      height: 100px;
    }
  }
}
