<div class="roll-message">
  <div class="roll-header">
    <h3 class="roll-name">{{name}}</h3>
    <h4 class="roll-subheader">{{type}}</h4>
  </div>

  <div class="item-description">
    {{{description}}}
  </div>
</div>
